* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #5f7a9b;
  transition: 1s;
}

.slide-window {
  margin: 0 auto;
  width: 80vw;
  height: 90dvh;
  overflow: hidden;
}

.slide-tape {
  display: flex;
  width: 500%;
  height: 80%;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper {
  display: flex;
  padding: 1rem 0;
}

.slide {
  width: 20%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
}

.text {
  width: 30rem;
}

.controls {
  display: inline-flex;
}

.control1,
.control2,
.control3,
.control4 {
  width: 0.8rem;
  height: 0.8rem;
  padding: 0.5rem;
  border: 0.1rem solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.button {
  width: 0;
  visibility: hidden;
}

.text-wrapper .text {
  font-weight: bold;
  color: black;
}

.control-label {
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.wrapper .text-wrapper div:nth-child(1) {
  transform: translateY(230%);
  opacity: 0;
}

.wrapper .text-wrapper div:nth-child(2) {
  transform: translateY(100%);
  opacity: 0;
}

.wrapper .text-wrapper div:nth-child(3) {
  transform: translateY(200%);
  opacity: 0;
}

.wrapper .text-wrapper div:nth-child(4) {
  transform: translateY(300%);
  opacity: 0;
}

#button1:hover ~ .wrapper .controls-wrapper .controls .control-label .control1,
#button2:hover ~ .wrapper .controls-wrapper .controls .control-label .control2,
#button3:hover ~ .wrapper .controls-wrapper .controls .control-label .control3,
#button4:hover ~ .wrapper .controls-wrapper .controls .control-label .control4 {
  background-color: white;
}

#button1:checked
  ~ .wrapper
  .controls-wrapper
  .controls
  .control-label
  .control1,
#button2:checked
  ~ .wrapper
  .controls-wrapper
  .controls
  .control-label
  .control2,
#button3:checked
  ~ .wrapper
  .controls-wrapper
  .controls
  .control-label
  .control3,
#button4:checked
  ~ .wrapper
  .controls-wrapper
  .controls
  .control-label
  .control4 {
  border: 0.1rem solid black;
  background-color: blueviolet;
}

#button1:active ~ .wrapper .controls-wrapper .controls .control-label .control1,
#button2:active ~ .wrapper .controls-wrapper .controls .control-label .control2,
#button3:active ~ .wrapper .controls-wrapper .controls .control-label .control3,
#button4:active
  ~ .wrapper
  .controls-wrapper
  .controls
  .control-label
  .control4 {
  background-color: red;
  transition: 0.1s;
}

#button1:checked ~ .slide-tape .slide1 {
  transform: translate(0%);
}

#button2:checked ~ .slide-tape .slide2 {
  transform: translate(-100%);
}

#button3:checked ~ .slide-tape .slide3 {
  transform: translate(-200%);
}

#button4:checked ~ .slide-tape .slide4 {
  transform: translate(-300%);
}

#button1:checked ~ .wrapper .text-wrapper div:nth-child(1) {
  transform: translateY(0%);
  opacity: 1;
}
#button2:checked ~ .wrapper .text-wrapper div:nth-child(2) {
  transform: translateY(-100%);
  opacity: 1;
}
#button3:checked ~ .wrapper .text-wrapper div:nth-child(3) {
  transform: translateY(-200%);
  opacity: 1;
}
#button4:checked ~ .wrapper .text-wrapper div:nth-child(4) {
  transform: translateY(-300%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column-reverse;
  }
  .controls-wrapper {
    align-self: center;
  }
}
